.main-content
  =render 'shared/mercari-header'
  %main.single-main
    .signin
      .signin__head
        新規会員登録
      .signin__content
        .signin__content__mail
          =link_to "メールアドレスで登録",root_path
          %i.far.fa-envelope
        .signin__content__facebook
          =link_to "Facebookでログイン",root_path
          %i.fab.fa-facebook
        .signin__content__google
          =link_to "Googleでログイン",root_path
          =image_tag "google",size:"20x20"

  =render 'shared/mercari-footer'
