.inner-header__under__left__brand__text__accordion
  .inner-header__under__left__brand__text__accordion__chanel シャネル
  .inner-header__under__left__brand__text__accordion__nike ナイキ
  .inner-header__under__left__brand__text__accordion__louis-vuitton ルイ ヴィトン
  .inner-header__under__left__brand__text__accordion__supreme シュプリーム
  .inner-header__under__left__brand__text__accordion__adidas アディダス
  .inner-header__under__left__brand__text__accordion__others その他
