.comment__comments-box__comment
  .comment__comments-box__comment__left
    = link_to root_path do
      .comment__comments-box__comment__left__image
        %img{alt: "user-icon", width:"40", height: "40",src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
      .comment__comments-box__comment__left__text
        .comment__comments-box__comment__left__text__name 出品者
  .comment__comments-box__comment__right
    .comment__comments-box__comment__right__title
      = @item.user.nickname
    .comment__comments-box__comment__right__message
      .comment__comments-box__comment__right__message__text
        おまたせしました。
        先ほど確認しましたところ、画像にある底部に若干の汚れが見られる程度で、後はそれといって汚れはございませんでした。
        よろしくお願いします。
      .comment__comments-box__comment__right__message__bottom
        .comment__comments-box__comment__right__message__bottom__icon-left
          %i.far.fa-clock
          .comment__comments-box__comment__right__message__bottom__icon-left__day
            128日前
        .comment__comments-box__comment__right__message__bottom__icon-right
          = link_to  "https://www.mercari.com/jp/comment/report/m70068440240/1854262556/" do
            %i.far.fa-flag
