.items-boxs-container
  %h2.items-boxs-container--title ○○新着アイテム
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/items-box"
      = render "shared/items-box"
      = render "shared/items-box"
      = render "shared/items-box"
    .items-boxs-container--body__under すべての商品を見る
