.items-boxs-container--body__upper__unit
  .items-boxs-container--body__upper__unit__image 画像が入ります
  .items-boxs-container--body__upper__unit__body
    .items-boxs-container--body__upper__unit__body__title
    .items-boxs-container--body__upper__unit__body__price
      .items-boxs-container--body__upper__unit__body__price__upper
      .items-boxs-container--body__upper__unit__body__price__under (税込)
