%nav
  %ul
    %li.single_footer
      =link_to "#" do
        プライバシーポリシー
    %li.single_footer
      =link_to "#" do
        メルカリ利用規約
    %li.single_footer
      =link_to "#" do
        特定取引に関する表記
.footer-logo
  =link_to "#" do
    =image_tag "mercari_footer", size: "80x65"
%p
  %small
    ©︎ 2019 Mercari
