.mercari-footer
  %nav.single
    %ul.single__footer
      %li.single__footer__information
        =link_to "#" do
          プライバシーポリシー
      %li.single__footer__information
        =link_to "#" do
          メルカリ利用規約
      %li.single__footer__information
        =link_to "#" do
          特定取引に関する表記
  .footer-logo
    =link_to "#" do
      =image_tag "mercari_footer", height: "65"
  %p
    %small
      ©︎ 2019 Mercari
