.slides
  .slides--01
    = image_tag "banner-natsukashi.jpg", width:"1280",height:"390",class: "slides1"
  .slides--02
    = image_tag "banner-new-life.jpg" ,width:"1280",height:"390",class: "slides2"
  .slides--03
    = image_tag "slides3.png" ,width:"1280",height:"390",class: "slides3"
  .slides--04
    = image_tag "banner-bokurano-heisei.jpg" ,width:"1280",height:"390",class: "slides4"


