.slides
  .slides--01
    = image_tag "banner-natsukashi.jpg",width:"100%" ,height:"390px" ,class: "slides1"
  .slides--02
    = image_tag "banner-new-life.jpg",width:"100%",height:"390px",class: "slides2"
  .slides--03
    = image_tag "slide3.jpg",width:"100%",height:"390px",class: "slides3"
  .slides--04
    = image_tag "banner-bokurano-heisei.jpg",width:"100%" ,height:"390px",class: "slides4"
