.user-profile--container
  .user-profile--container__title
  .user-profile--container__icon
    .user-profile--container__icon__body
      .user-profile--container__icon__body__user-image
      .user-profile--container__icon__body__user-name
  .user-profile--container__text
  .user-profile--container__button
