.main-content
  .signup__header
    =render 'shared/signin-header'
    .signup-bar
      %ul
        %li.first-list
          会員情報
          .radius
        %li
          電話番号認証
          .radius
        %li
          お届け先住所入力
          .radius
        %li#active-text
          支払い方法
          .radius#active
        %li
          完了
          .radius-last
  %main.single-main
    .signin
      .signin__head
        支払い方法
      .signin__user-infomation
        %form#charge-form{:action => "/pay", :method => "POST"}
          .ur-form-group
            %span.charge-errors
            %label カード番号
            %span.ur-form-group__span 必須
            %input.number{maxlength: "16", name: "number", placeholder: "カード番号", type: "text", value: 4242424242424242}/
            =image_tag "credit.png", size:"350x30"
          .ur-form-group
            %label 有効期限
            %span.ur-form-group__span 必須
            %select{name: 'exp_month', class: 'registration-form__expiration-date--month-form', id: 'payment_card_expire_mm'}
              %option{value:  "01"} 01
              %option{value:  "02"} 02
              %option{value:  "03"} 03
              %option{value:  "04"} 04
              %option{value:  "05"} 05
              %option{value:  "06"} 06
              %option{value:  "07"} 07
              %option{value:  "08"} 08
              %option{value:  "09"} 09
              %option{value:  "10"} 10
              %option{value:  "11"} 11
              %option{value:  "12"} 12
            %span 月
            %select{name: 'exp_year', class: 'registration-form__expiration-date--year-form', id: 'payment_card_expire_yy'}
              %option{:value => "2019"} 19
              %option{:value => "2020"} 20
              %option{:value => "2021"} 21
              %option{:value => "2022"} 22
              %option{:value => "2023"} 23
              %option{:value => "2024"} 24
              %option{:value => "2025"} 25
              %option{:value => "2026"} 26
              %option{:value => "2027"} 27
              %option{:value => "2028"} 28
              %option{:value => "2029"} 29
            %span 年
          .ur-form-group
            %label セキリュティコード
            %span.ur-form-group__span 必須
            %input.cvc{minlength: "3",maxlength: "4", name: "cvc", placeholder: "３桁または４桁", type: "text"}/
            %button{type: "submit",id: "card-save"} 送信
  =render 'shared/mercari-footer'

