.delete-modal {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #FFFFFF;
  padding-top: 10px;
  display: none;
  &__upper {
    width: 600px;
    height: 236px;
    box-sizing: border-box;
      &__title {
        text-align: center;
        box-sizing: border-box;
        font-weight: 600;
        height: 24px;
        padding-top: 50px;
        font-size: 16px;
        opacity: .8;
      }
      &__content {
        width: 600px;
        height: 236px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
        line-height: 1.5;
        font-weight: 200;
        opacity: .8;
    }
  }
  &__under {
    width: 600px;
    height: 64px;
    display: flex;
    box-sizing: border-box;
    &__left {
      width: 300px;
      height: 64px;
      text-align: center;
      line-height: 63px;
      box-sizing: border-box;
      border-top: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE;
      font-size: 14px;
      opacity: .8;
    }
    &__right {
      width: 300px;
      height: 64px;
      text-align: center;
      line-height: 63px;
      box-sizing: border-box;
      border-top: 1px solid #EEEEEE;
      font-size: 14px;
      opacity: .8;
    }
  }
}


