.top-app-baner{
  color: white;
  height:260px;
  width: 100vw;
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?78405350");
  &__content{
    height: 260px;
    width: 750px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    &__inner{
      width: 420px;
      align-self: center;
      &__introduction {
        font-size:24px;
      }
      p{
        font-size: 35px;
      }
      ul{
        left:20px;
        padding-top: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
      }
    }
    &__iPhone{
      height: 260px;
    }
  }
}

.fa-twitter {
    font-size: 30px;
    color: #f0f8ff;
    font-weight: 400;
}

.fa-facebook {
    font-size: 30px;
    color: #f0f8ff;
    font-weight: 400;
}

.under-footer--sociallinks {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

#privacy {
  padding-top:38px;
}

.under-footer {
    background: #212121;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 391px;
    margin:0 auto;
    &--lists {
      margin-top: 18px;
      text-align: left;
      margin:0 auto;
      width: 75%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
    &--list {
      vertical-align: top;
      opacity: .7;
      padding-right: 6px;
      box-sizing: border-box;
      & li {
        font-size: 12px;
        margin: 14px 0 0;
        color: #FFFFFF;
        & a {
          color: #FFFFFF;
          text-decoration: none;
      }
    }
  }
}

.under-footer--list li a:hover {
  text-decoration: underline;
}

#title1,#title2,#title3,#title4 {
  font-weight: 500;
  font-size: 16px;
}

.under-footer--copyright {
  display: flex;
  position:relative;
  margin:0 auto;
  width: 75%;
  &__logo {
    width: 124px;
    vertical-align: middle;
    text-align: center;
    left: 0px;
    bottom:-10px
  }
  &__text {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    right: 46%;
    top: 15%;
    small {
      font-size: 12px;
    }
  }
}
