* {
font-family: 'source-sans-pro';
}

#sbox2 {
  height:50px;
  width:800px;
  top:0px;
  padding:0 10px;
  border-radius:2px;
  outline:0;
  background:#eee;
}
#sbtn2 {
  height:50px;
  left:255px;
  top:0;
  background:none;
  color:#666;
  border:none;
  font-size:20px;
}

.header {
  height: 90px;
  background-color: #FFFFFF;
}

.inner-header {
    width: 1020px;
    height: 90px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__upper {
      height: 50px;
      display: flex;
      &__left {
        padding-top: 7px;
        height: 43px
      }
      &__right {
        height: 50px;
        width: 841px;
        margin: 0 0 0 auto;
      }
    &__under {
      display: flex;
      height: 38px;
      margin: 8px 0 0;
      font-size: 14px;
      vertical-align: middle;
      &__left {
        height: 42px;
        margin-right: 15px;
        &__lists {

        }
      }
      &__right {
      margin: 0 0 0 auto;
      height: 42px;
        &lists li {
          display: inline-block;
          padding-right: 28px;
        }
      }
    }
  }
}


.inner-header__under__left__lists {
  left: 0px;
  & li {
    display: inline-block;
    padding-right: 22px;
  }
}



