* {
  font-family: 'source-sans-pro', sans-serif;
}

.header {
  height: 108px;
  background-color: #FFFFFF;
  color: #333333;
}

.inner-header {
  width: 1020px;
  height: 108px;
  margin: 0 auto;
  padding: 8px 0 0;
  box-sizing: border-box;

  &__upper {
    height: 50px;
    display: flex;

    &__left {
      padding-top: 7px;
      height: 43px;
    }

    &__right {
      height: 50px;
      width: 841px;
      margin-left: 50px;
      background-color: #E6E6E6;
      padding: 0 20px 0 10px;
      display: flex;

      &__form {
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        background-color: #E6E6E6;

        &__input {
          height: 50px;
          width: 810px;
          background-color: #E6E6E6;
          border-style: none;
          box-sizing: border-box;
          padding: 0 20px 0 10px;
          border: none;
          outline: none;
        }
      }
    }
  }

  &__under {
    display: flex;
    justify-content: space-between;
    height: 42px;
    margin: 8px 0 0;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;

    &__left {
      height: 42px;
      display: flex;
      justify-content: space-between;

      &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 148px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &__text {
          font-weight: 550;
          display: flex;
          justify-content: center;
          opacity: .8;

          &:hover {
            color: #0099e8;
          }
        }
      }

      &__brand {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 136px;
        padding-left: 22px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &__text {
          font-weight: 550;
          opacity: .8;

          &:hover {
            color: #0099e8;
          }
        }
      }
    }

    &__right {
      display: flex;

      &__notice {
        width: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__circle {
          background: $red;
          color: $white;
          border-radius: 50%;
          font-size: 8px;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          position: absolute;
          z-index: 1000;
          top: 3px;
          right: 58px;
          font-weight: 500;
        }

        &:hover {
          cursor: pointer;
        }

        &__text {
          margin-left: 10px;
          opacity: .9;

          &:hover {
            color: $blue;
          }

          &__accordion {
            width: 320px;
            z-index: 1000;
            position: absolute;
            top: 42px;
            right: -235px;
            display: none;

            &__01 {
              height: 90.58px;

              &:hover {
                cursor: pointer;
              }
            }

            &__02 {
              height: 92.33px;

              &:hover {
                cursor: pointer;
              }
            }

            &__03 {
              height: 111.55px;

              &:hover {
                cursor: pointer;
              }
            }

            &__04 {
              height: 110.58px;
              border-bottom: solid 0.5px #f6f6f6;

              &:hover {
                cursor: pointer;
              }
            }

            &__05 {
              height: 111.55px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      &__to-do-list {
        width: 129px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 28px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &__text {
          margin: 0 0 0 10px;
          opacity: .9;

          &:hover {
            color: $blue;
          }
        }

        &__accordion {
          position: absolute;
          z-index: 1000;
          top: 42px;
          left: -85px;
          width: 320px;
          height: 250px;
          background: #ffffff;
          text-align: center;
          display: none;

          &__image {
            padding-top: 50px;
            box-sizing: border-box;
          }
        }
      }

      &__my-page {
        width: 113px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 28px;
        position: relative;

        &__text {
          margin: 0 0 0 10px;
          opacity: .9;
          &:hover {
            color: $blue;
          }
          & a {
            text-decoration: none;
            color: #333333;
          }
        }

        &__accordion {
          width: 320px;
          height: 560px;
          background: $white;
          position: absolute;
          z-index: 1000;
          top: 43px;
          right: 0px;
          cursor: pointer;
          display: none;

          &__image {
            height: 80px;
          }

          &__body {
            height: 180px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            position: relative;

            &__icon {
              position: absolute;
              left: 129px;
              top: -52px;

              &__image {
                border-radius: 50%;
              }
            }

            &__nickname {
              height: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 16px;
              font-weight: 500;
            }

            &__data {
              height: 40px;
              text-align: center;
              line-height: 40px;
            }

            &__sales {
              height: 40px;
              margin-left: 10px;
              margin-right: 10px;
              display: flex;
              align-items: center;
              background: #f5f5f5;
              border: solid 1px #e6e6e6;

              &__text {
                width: 250px;
                margin-left: 10px;
                box-sizing: border-box;
              }

              &__number {
                width: 30px;
                text-align: center;
                font-size: 12px;
              }

              &__arrow {
                width: 20px;
              }
            }

            &__point {
              height: 40px;
              margin-left: 10px;
              margin-right: 10px;
              display: flex;
              align-items: center;
              background: #f5f5f5;
              border-left: solid 1px #e6e6e6;
              border-right: solid 1px #e6e6e6;
              border-bottom: solid 1px #e6e6e6;
              &__text {
                width: 250px;
                margin-left: 10px;
                box-sizing: border-box;
              }

              &__number {
                width: 30px;
                text-align: center;
                font-size: 12px;
              }

              &__arrow {
                width: 20px;
              }
            }
          }

          &__good {
            height: 49px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }
          }

          &__exhibition {
            height: 49px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }

          }

          &__trading {
            height: 49px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }
          }

          &__sold {
            height: 49px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }
          }

          &__purchase {
            height: 49px;
            background: $white;
            border-bottom: solid 1px $gray-thin;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }
          }

          &__past {
            height: 50px;
            background: $white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;

            &:hover {
              background: #f5f5f5;

            }
          }
        }
      }

      &__new {
        width: 78px;
        height: 32px;
        background: #ea352d;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        box-sizing: border-box;

        & a {
          color: #ffffff;
          text-decoration: none;
          line-height: 32px;
          text-align: center;
          width: 178px;
          height: 32px;
        }
      }

      &__login {
        width: 106px;
        height: 30px;
        background: #ffffff;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #0099e8;

        &:hover {
          background: #0099e8;
        }

        & a {
          color: #0099e8;
          text-decoration: none;
          line-height: 30px;
          text-align: center;
          width: 106px;
          height: 30px;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.fas.fa-list-ul {
  font-size: 1.0078em;
  color: #EA352D;
  margin-right: 4px;
}

.fas.fa-search {
  font-size: 14px;
  opacity: .7;
  right: 0;
  position: absolute;
}

.fas.fa-tag {
  color: #EA352D;
  font-size: 1.0078em;
  margin-right: 4px;
}

.fas.fa-bell {
  color: #d0d0d0;
  font-size: 1.41em;

  &:hover {
    color: $blue;
  }
}

.fas.fa-check {
  color: #d0d0d0;
  font-size: 1.41em;

  &:hover {
    color: $blue;
  }
}

.fas.fa-chevron-right {
  font-size: 14px;
  color: #e6e6e6;
  &:hover {
    color: #333333;
    font-size: 16px;
  }
}

.user-icon-image-top {
  border-radius: 50%;

}

.inner-header__upper__right__form__input__search {
  display: none;
}

.inner-header__upper__right__form__input[type=text]::-ms-clear {
  display: none;
}

.inner-header__under__left__brand__text__accordion {
  position: absolute;
  background: #FFFFFF;
  color: #333333;
  width: 224px;
  z-index: 1000;
  top: 35px;
  left: 4px;
  box-sizing: border-box;
  display: none;

  &__chanel {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__nike {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__louis-vuitton {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__supreme {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__adidas {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__others {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.inner-header__under__left__category__text__accordion {
  position: absolute;
  background: #FFFFFF;
  color: #333333;
  width: 224px;
  z-index: 1000;
  top: 35px;
  right: -77px;
  box-sizing: border-box;
  display: none;

  &__ladies {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 42px;
        line-height: 42px;
        width: 224px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #ea352d;
          color: #ffffff;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__mens {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 42px;
        line-height: 42px;
        width: 224px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #ea352d;
          color: #ffffff;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__kids {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__interior {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__book {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__toy {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__cosmetics {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__electric-appliances {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__sports {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__handmade {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__ticket {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__bicycle {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__others {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__lists {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #ea352d;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.ladies-middle {
  position: absolute;
  background: #FFFFFF;
  color: #333333;
  width: 224px;
  height: 588px;
  z-index: 900;
  top: 35px;
  right: -301px;
  box-sizing: border-box;
  border-left: solid 1px #e6e6e6;
  display: none;

  &__tops {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 28px;
        line-height: 28px;
        width: 224px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #e6e6e6;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__jacket {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 28px;
        line-height: 28px;
        width: 224px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #e6e6e6;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__pants {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__skirt {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__one-piece {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__shoes {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__pajamas {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__leg-wear {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__hat {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__bag {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__accessories {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__hair-accessories {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__komono {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__clock {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }
}

.ladies-bottom {
  position: absolute;
  background: #FFFFFF;
  color: #333333;
  width: 320px;
  height: 588px;
  z-index: 1000;
  top: 35px;
  right: -621px;
  box-sizing: border-box;
  border-left: solid 1px #e6e6e6;
  display: none;

  &__t-shirts1 {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 28px;
        line-height: 28px;
        width: 319px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #e6e6e6;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__t-shirts2 {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;
    &__link {
      text-decoration: none;
      color: #333;
      opacity: .9;
      &__text {
        height: 28px;
        line-height: 28px;
        width: 319px;
        position: relative;
        &:hover {
          left: 0;
          position: absolute;
          background: #e6e6e6;
          cursor : pointer;
          box-sizing: border-box;
          padding-left: 10px;
        }
      }
    }
  }

  &__shirts1 {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__shirts2 {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__polo-shirts {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__camisole {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__tank-top {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__halter-neck {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__knit {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__tunic {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__cardigan {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__ensemble {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__vest {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }

  &__hoodie {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    opacity: .9;
    box-sizing: border-box;

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
    }
  }
}
