* {
  font-family: 'source-sans-pro', sans-serif;
}

.header {
  height: 108px;
  background-color: #FFFFFF;
  color: #333333;
}

.inner-header {
  width: 1020px;
  height: 108px;
  margin: 0 auto;
  padding: 8px 0 0;
  box-sizing: border-box;
  &__upper {
    height: 50px;
    display: flex;
    &__left {
      padding-top: 7px;
      height: 43px;
    }
    &__right {
      height: 50px;
      width: 791px;
      margin: 0 0 0 auto;
      background: #E6E6E6;
      padding: 0 20px 0 10px;
      &__form {
        justify-content: center;
        align-items: center;
        display: flex;
      }
      &__input {
        height: 50px;
        width: 881px;
        background: #E6E6E6;
        border-style: none;
        box-sizing: border-box;
      }
    }
  }
  &__under {
    display: flex;
    justify-content: space-between;
    height: 42px;
    margin: 8px 0 0;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
    &__left {
      height: 42px;
      display: flex;
      justify-content: space-between;
      &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        width:148px;
        &__text {
          font-weight: 550;
          display: flex;
          justify-content: center;
          opacity: .8;
        }
      }
      &__brand {
        justify-content: center;
        align-items: center;
        display: flex;
        width:136px;
        padding-left:22px;
        &__text {
          font-weight: 550;
          opacity: .8;
        }
      }
    }
    &__right {
      display: flex;
      &__notice {
        width:86px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
          margin-left:10px;
          opacity: .9;
        }
      }
      &__to-do-list {
        width:129px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:28px;
        &__text {
          margin: 0 0 0 10px;
          opacity: .9;
        }
      }
      &__my-page {
        width:113px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:28px;
        &__text {
          margin: 0 0 0 10px;
          opacity: .9;
        }
      }
    }
  }
}

.fas.fa-list-ul {
  font-size: 1.0078em;
  color: #EA352D;
  margin-right: 4px;
}

.fas.fa-search{
  font-size: 14px;
  opacity: .7;
}

.fas.fa-tag {
  color: #EA352D;
  font-size: 1.0078em;
  margin-right: 4px;
}

.fas.fa-bell{
  color: #d0d0d0;
  font-size: 1.41em;
}
.fas.fa-check{
  color: #d0d0d0;
  font-size: 1.41em;
}

.user-icon-image-top {
  border-radius: 50%;
}

