.sell{
  background-color: #f6f6f6;
  width: 100vw;

  &__icon{
  height: 128px;
  width: 100vw;
  }

  &__form{
  width: 700px;
  background-color: white;
  margin:0 auto;

    &__introduction{
  text-align: center;
  border-bottom: solid #F0F0F0;
  font-size: 22px;
  font-weight: bold;
  padding:50px 0;
    }

    &__image{
  padding:30px 30px 0;
  border-bottom: solid #F0F0F0;

      &__title{
      font-weight: bold;
      margin-bottom: 10px;
      }


      &__uproad{
      height: 210px;
      }
    }

    &__itemname{
      padding:40px 30px 40px;
      border-bottom: solid #F0F0F0;

      &__input{
        width: calc(700px - 60px);
        height: 50px;
        font-size:20px;
        padding: 0 15px;
        box-sizing: border-box;
      }

      &__explanationintro{
        margin-top:30px;
      }

      &__explanationinput{
        width: calc(700px - 60px);
        height: 150px;
        font-size:20px;
        padding: 10px;
        box-sizing: border-box;
      }
    }

    &__itemdescription{
      padding:40px 30px 40px;
      border-bottom: solid #F0F0F0;
      overflow: hidden;

      &__left{
        width: 320px;
        float: left;
      }

      &__right{
        width: 320px;
        float: left;

        &__descriptionselect{
          width: 300px;
          height: 40px;
          margin-bottom:20px;
        }

        &__profit{
          border-bottom: solid #F0F0F0;
          height: 50px;
          line-height: 50px;
          font-size:20px;
          clear: both;
          padding:10px 0;

          &__input{
            float: right;
            clear: both;


            &__box{
              margin-right:10px;
              margin-left:10px;
              height: 30px;
              width:150px;
              padding: 5px 10px;
            }
          }
        }

        &__margin{
        font-size:20px;
        padding-top: 20px;
        }
      }
    }

    &__delivery{
     padding:40px 30px 40px;
     overflow: hidden;
     border-bottom: solid #F0F0F0;
    }

    &__price{
      padding:40px 30px 40px;
      overflow: hidden;
      border-bottom: solid #F0F0F0;
    }

    &__button{
      margin:0 30px;

      &__notice{
        margin-top: 30px;
      }

      &__button{
      text-align: center;
      padding-top: 30px;

        &__input{
        width: 640px;
        height: 50px;
        color:white;
        border:none;
        background-color: #ea352d;
        }
        &__input2 {
          width: 640px;
          height: 50px;
          color:white;
          border:none;
          background-color: #ea352d;
          margin-top: 80px;
        }
      }

      &__back{
      text-align: center;
      margin-top:30px;
      padding-bottom: 40px;
      }
    }

    &--need{
    border: solid red;
    color:white;
    background-color: red;
    }
  }

  &__footer{
  height: 220px;
  width: 700px;
  margin: 0 auto 0;
  padding-top:30px;
  text-align: center;
  }
}

.itemsnewlink{
  text-decoration: none;

  &__notice{
    color:dodgerblue;
  }
  &__footer{
    color:black;
  }

  &__backbutton{
    display:block;
    height: 50px;
    line-height: 50px;
    width:45%;
    margin:0 auto;
    background: #aaa;
    text-decoration: none;
    color: white;
  }
}

#itemnew_img_field{
  background-color: #F0F0F0;
  width: 640px;
  height:160px;
  line-height: 20px;
  display: table-cell; /* IE8から使用可能 */
  vertical-align: middle;
  border: dotted 3px #F0F0F0;
  text-align: center;
}

.itempreview{
  width:125px;
  height:80px;
  float:left;

}
