.sell {
  background-color: #f6f6f6;
  width: 100vw;
  &__icon {
    height: 128px;
    width: 100vw;
  }
  &__form{
    width: 700px;
    background-color: #FFFFFF;
    margin:0 auto;
    &__introduction{
      box-sizing: border-box;
      text-align: center;
      border-bottom: solid  1px #F6F6F6;
      font-size: 22px;
      font-weight: 600;
      padding:32px 16px;
    }
    &__image {
      padding:30px 30px 30px 30px;
      border-bottom: solid 1px #F6F6F6;
      &__title{
        font-weight: 600;
        margin-bottom: 10px;
      }
      &__intro {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 16px;
      }
      &__uproad{
        height: 210px;
      }
    }
    &__itemname{
      padding:40px 30px 40px;
      border-bottom: solid 1px #F6F6F6;
      font-size: 14px;
      &__intro__bold {
        font-weight: 600;
      }
      &__input{
        width: calc(700px - 60px);
        height: 50px;
        font-size:16px;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        box-sizing: border-box;
        border-radius: 3px 3px 3px 3px;
        outline: none;
        border : 1px solid #dfdfdf;
      }
      &__explanationintro{
        margin-top:40px;
      }
      &__explanationinput{
        width: calc(700px - 60px);
        height: 142px;
        font-size:16px;
        margin: 8px 0 0;
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        border : 1px solid #dfdfdf;
      }
    }
    &__itemdescription{
      padding:40px 30px 20px;
      border-bottom: solid 1px #F0F0F0;
      overflow: hidden;
      display: flex;
      &__left{
        width: 220px;
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        opacity: 0.7;
        float: left;
      }
      &__right{
        width: 400px;
        font-size: 14px;
        float: left;
        font-weight: 600;
        color:#333333;
        &__wrapper{
          border-bottom: solid 1px #F0F0F0;
          padding-bottom: 10px;
        }
        &__description{
          margin-bottom: 20px;
        }
        &__descriptionselect{
          width: 400px;
          height: 48px;
          margin-bottom:10px;
          border-radius: 3px 3px 3px 3px;
          outline: none;
          border : 1px solid #dfdfdf;
          font-weight: 500;
        }
        &__profit{

          height: 50px;
          line-height: 50px;
          font-size:14px;
          padding:10px 0;
          clear: both;
          &__input{
            float: right;
            clear: both;
            font-weight: 300;
            &__box{
              margin-right:10px;
              margin-left:10px;
              height: 30px;
              width:150px;
              padding: 5px 10px;
              border-radius: 3px 3px 3px 3px;
              outline: none;
              border : 1px solid #dfdfdf;
            }
          }
        }
        &__margin{
          font-size:16px;
          padding-top: 20px;
          font-weight: 600;
        }
      }
    }
    &__delivery{
      padding:40px 30px 20px;
      overflow: hidden;
      border-bottom: solid 1px #F0F0F0;
      display: flex
    }
    &__price{
      padding:40px 30px 40px;
      overflow: hidden;
      border-bottom: solid 1px #F0F0F0;
      display: flex
    }
    &__button{
      margin:0 30px;
      font-size: 14px;
      &__notice{
        margin-top: 30px;
        font-size: 14px;
        color:#333333;
      }
      &__button{
        text-align: center;
        padding-top: 40px;
        &__input{
          width: 640px;
          height: 50px;
          color: #FFFFFF;
          border:none;
          background-color: #ea352d;
        }
        &__input2 {
          width: 640px;
          height: 50px;
          color:#FFFFFF;
          border:none;
          background-color: #ea352d;
          margin-top: 80px;
        }
      }
      &__back{
        text-align: center;
        margin-top:30px;
        padding-bottom: 40px;
        font-size: 14px;
      }
    }
    &--need{
      border: solid #ea352d;
      color:#FFFFFF;
      background-color: #ea352d;
    }
  }
  &__footer{
    height: 220px;
    width: 700px;
    margin: 0 auto 0;
    padding-top:30px;
    text-align: center;
  }
}
.itemsnewlink{
  text-decoration: none;
  &__notice{
    color: #0099e8;
  }
  &__footer{
    color:black;
  }
  &__backbutton{
    display:block;
    height: 50px;
    line-height: 50px;
    width:45%;
    margin:0 auto;
    background: #aaa;
    text-decoration: none;
    color: white;
  }
}

#itemnew_img_field{
  width: 640px;
  max-height:200px;
  // line-height: 20px;
  // display: table-cell;
  // vertical-align: middle;

  // text-align: center;
}

#itemnew_img_field__method{
    display:table-cell;
    vertical-align:middle;
    border: dotted 2px #d9d9d9;
    height:200px;
    text-align: center;
    width: 640px;
    background-color: #F5F5F5;
}


.itempreview{
  width:115px;
  height:80px;
  float:left;
  background-color: #f6f6f6;
  border-top: dotted 1px #d9d9d9;
  border-right: dotted 1px #d9d9d9;
  border-left: dotted 1px #d9d9d9;
}

.img_view{
  width: 115px;
  background-color: #f6f6f6;
  border-right: dotted 1px #d9d9d9;
  border-left: dotted 1px #d9d9d9;
  border-bottom: dotted 1px #d9d9d9;

  &__cover{
    display: inline-block;
    width: 50%;
    text-align: center;
    border-right: dotted 1px #d9d9d9;
  }
}

.img_del{
    text-decoration: none;
    color: #0099e8;
    text-align: center;
}

.img_edit{
    text-decoration: none;
    color: #0099e8;
    text-align: center;
}

.previewfield{
   width:115px;
   float: left;
   padding-right: 10px;
   padding-bottom: 10px;
}

#sell__form__itemname_bold-1,#sell__form__itemname_bold-2 {
  font-weight: 600;
}

.sell__form__itemdescription__right__profit p {
  font-weight: 500;
}

.l-right{
  margin-right: 20px;
  float: right;
}

.l-left{
  width: 50%;
  float: left;
}

#item_price{
text-align: right;
}

#mercari_margin{
  font-weight: 300;
    &--left{
    font-weight: 300;
  }
}

#sell__price__range{
  font-size: 12px;
  font-weight: bold;
}

#itemimage_uproad_over{
  color: #ea352d;
  clear: both;
}

#itemimage_uproad_none{
  color: #ea352d;
  clear: both;
}

.itemvalidation--notice{
  color: #ea352d;
  font-weight: 300;
  display: none;
}

.item-circle{
color: #0099e8;
font-size: 14px;
}

select.sell__form__itemdescription__right__descriptionselect{
-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
-moz-appearance: none;  /* ベンダープレフィックス(Firefox用) */
appearance: none; /* 標準のスタイルを無効にする */
padding-left: 10px;
background-image: image-url('yagirushi.png');
background-repeat: no-repeat;
background-size: 30px 20px;
background-position: right 10px center;
background-color: #FFFFFF;
}
