.signup__header{
  display: flex;
  margin: 0 auto 40px;
  padding-top: 40px;
  .signup-header{
    h1{
      position: relative;
      a{
        padding: 24px 84px;
        position: absolute;
      }
    }
  }
}
.signup-bar{
  display: flex;
  margin: 0 auto;
  #active-text{
    color: red;
  }
  .first-list{
  }
  .ul{
    width: 700px;
  }
  li{
    text-align: center;
    width: 96px;
    margin: 0 10px;
    display: inline-block;
    font-size: 12px;
    z-index: 1;

    color: #888;
    .radius{
      background: #ccc;
      border-radius: 50%;
      width: 10px;
      height:10px;
      position: relative;
      top: 5px;
      left: 45px;
      &::after{
        left:10px;
        position: absolute;
        bottom: 5px;
        z-index: 1;
        content: '';
        width: 120px;
        height: 2px;
        background: #ccc;
      }
    }
    .radius-last{
      background: #ccc;
      border-radius: 50%;
      width: 10px;
      height:10px;
      position: relative;
      top: 5px;
      left: 45px;
    }
    #active{
      background: red;
      z-index: 1;
    }
  }
}
.signin__user-infomation{
  width: 50%;
  margin: 40px auto 0;
  font-size: 20px;
  .signin__user-infomation__thanks{
    font-size: 3px;
  }
  &__complete{
    font-size: 20px;
  }
  .ur-form-group {
    width:100%;
    margin-top: 40px;
    display: inline-block;
    text-align: left;
    .creditcard{
      font-size: 14px;
      font-weight: bold;
    }
    &-info-text{
      color: #888;
      font-size :12px;
    }
    &__text{
      font-size: 12px;
    }
    &__agree{
      width: 80%;

    }
    #termsofservice{
      width: 98%;
      text-align: center;
      font-size: 14px;
      a{
        text-decoration: none;
        color: blue;
      }
    }
    h3{
      font-weight: bold;
    }
    &__label{
      font-size: 14px;
      font-weight: bold;
    }
    &__span{
      padding:3px;
      border-radius: 4px;
      background: red;
      font-size: 12px;
      color: white;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    &__field{
      width:88%;
      font-size:14px;
      border-radius: 4px;
      height: 48px;
      padding: 0 20px;
      margin: 5px 0;
      border: 1px solid #ccc;
      &:focus{
        outline: none;
        border: 1px solid #0099e8;
      }
    }
  }
  .ur-form__btn--submit,#card-save{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin-top: 40px;
    width: 100%;
    line-height: 48px;
    font-size: 18px;
    padding: 0 20px;
  }
}


.select__default,.registration-form__expiration-date--month-form,.registration-form__expiration-date--year-form{
  width: 140px;
  height: 48px;
  margin:5px 0;
  background: white;
  border: 1px solid #ccc;
}


