.single-main{
  text-align: center;
}
.login-panel{
  margin: 0 auto;
  width: 456px;
  background: white;
  font-size: 18px;
  padding-bottom: 20px;
}
.login-panel__no-account{
  padding: 40px 64px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  .signin-box{
    width: 330px;
    margin-top: 8px;
    line-height: 48px;
    background: #0099e8;
  }
  a{
    color: white;
    line-height: 8px;
    text-decoration: none
  }
}
.login-panel__login{
  margin: 40px;
  .facebook-box{
    background: #385185;
    width: 330px;
    margin: 0 auto;
    height:48px;
    line-height: 48px;
  }
  &__facebook{
    position: relative;
    a{
      color: white;
      text-decoration: none;
      font-size: 13px;
    }
    .fa-facebook{
      position: absolute;
      left: 30px;
      top: 20%;
      background: #385185;
      color: white
    }
  }
  &__google{
    margin-top: 20px;
    position: relative;
    .google-box{
      background: white;
      border: 1px solid #f5f5f5;
      margin: 0 auto;
      width: 330px;
      height: 48px;
      line-height: 48px;
    }
    a{
      color: black;
      text-decoration: none;
      font-size: 13px;
    }
    img{
      position: absolute;
      left: 30px;
      top: 20%;
      background: #385185;
      color: white
    }
  }
  .siginin-field{
    width:330px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 15px;
    height: 48px;
    border-radius: 4px;
    border: 1px #ccc solid;
    background: #e8f0fe;
  }
  .signin-btn{
    background: #ea352a;
    color: white;
    width:330px;
    height: 48px;
    margin: 20px;
  }
}
.g-recaptcha{
  margin-top: 20px
}


.forget-passward{
  position: relative;
  margin: 20px 0;
  padding: 20px;
  a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 13px;
    color: blue;
  }
}
.main-content{
  background: #f5f5f5;
}
