.single-header{
  height: 128px;
  text-align: center;
  padding-top: 50px;
  font:50px;
  box-sizing: border-box;
}
.mercari-footer{
  text-align: center;
  margin-top: 40px;
  & small {
    font-size: 11px;
    font-weight: 500;
  }

}
.single__footer{
  font-size: 12px;
  &__information{
    display: inline-block;
    margin-left: 18px;
      a{
        text-decoration: none;
        color: black;
      }
  }
}

.footer-logo{
  margin-top: 40px;
}


