.top-page-view {
  background:#F6F6F6;
  padding: 40px 0;
  &--title {
    font-size: 28px;
    text-align: center;
    color: #333333;
    font-weight: 550;
  }
}

.top-page-wallpaper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F6F6F6;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.items-boxs-container {
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  text-decoration: none;
  background:#F6F6F6;
  &--title {
    font-size: 22px;
    text-align: center;
    height: 22px;
    width: 918px;
    margin:0 auto;
    margin:26px 11px ;
    color: #0099e8;
    font-weight: 550;
    box-sizing: border-box;
    text-decoration: none;
    & a {
      text-decoration: none;
      color: #0099e8;
    }
  }
  &--body {
    height:420px;
    box-sizing: border-box;
    &__upper {
      height: 330px;
      width: 940px;
      margin:0 auto;
      display:flex;
      box-sizing: border-box;
      & a {
        text-decoration: none;
      }
      &__unit{
        height: 330px;
        width: 213px;
        margin-left:20px;
        background:#FFFFFF;
        box-sizing: border-box;
        &__image {
          height: 220px;
          width: 213px;
          box-sizing: border-box;
          &__upload {
            object-fit: cover;
            height: 220px;
            width: 213px;
            box-sizing: border-box;
          }
          &__triangle {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100px 100px 0 0;
            border-color: #ea352d transparent transparent transparent;
            z-index: 1;
            &__box {
              top: -80px;
              position: absolute;
              color: $white;
              font-size: 20px;
              font-weight: 600;
              transform: rotate( -45deg );
            }
          }
        }
        &__body {
          height: 110px;
          width: 213px;
          padding:16px;
          box-sizing: border-box;
          &__title {
            overflow: hidden;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            height: 48px;
            width: 181px;
            font-size: 16px;
            margin:0 auto;
            color: #333;
            font-weight: 400;
            box-sizing: border-box;
          }
          &__price {
            height: 30px;
            width: 181px;
            margin:0 auto;
            box-sizing: border-box;
            padding-bottom: 30px;
            &__upper {
              height: 20px;
              width: 61px;
              margin:0 auto;
              margin:8px 0 0 ;
              font-size: 20px;
              font-weight: 600;
              color: #333;
              box-sizing: border-box;
              display: flex;
              align-items: center;
            }
            &__under {
              height: 10px;
              width: 181px;
              margin:0 auto;
              font-size: 10px;
              color: #333;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.items-boxs-container--title a:hover {
  text-decoration: underline;
  color: lighten(#0099e8,20%);
}

.items-boxs-container--body__under {
  height: 64px;
  width: 935px;
  padding: 20px 0 30px;
  font-size: 14px;
  text-align: right;
  box-sizing: border-box;
  color: #0099E8;
  text-decoration: none;
  & a {
    text-decoration: none;
    color: #0099e8;
  }
}

.items-boxs-container--body__under a:hover {
  text-decoration: underline;
  color: lighten(#0099e8,20%);
}

.inner-header__upper__right__form__hidden {
  right:20px;
  height: 40px;
  background: #f5f5f5;
  width:30px;
  position: absolute;
}

.slides {
  position: relative;

}

.prev-arrow{
  width: 25px;
  height: 25px;
  border: 4px solid;
  border-color:  transparent transparent #f0f0f0 #f0f0f0;
  background: transparent;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1000;
  top: 195px;
  right: 95%;
  outline:none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.8));

}
.next-arrow{
  width: 25px;
  height: 25px;
  border: 4px solid;
  border-color:  transparent transparent #f0f0f0 #f0f0f0;
  background: transparent;
  transform: rotate(225deg);
  position: absolute;
  z-index: 1000;
  top: 195px;
  right: 5%;
  outline:none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.8));
}

#slick-slide-control00,#slick-slide-control01,#slick-slide-control02,#slick-slide-control03 {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-dots{
  text-align: center;
  position: absolute;
  top: 88%;
  right: 50%;
  li{
    display: inline-block;
    margin: 0 15px;
    button{
      position: relative;
      text-indent: -9999px;
      &:before{
        content: '●';
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        text-indent: 0px;
        opacity: .4;
        position: absolute;
        top: 0;
        left: 0;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.8));
      }
    }
    &.slick-active{
      button:before{
        content: '●';
        color:rgba(0,0,0,0.5);
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.8));
      }
    }
  }
}
















