.top-page-view {
  background:#F6F6F6;
  padding: 40px 0;
  &--title {
    font-size: 28px;
    text-align: center;
    color: #333333;
    font-weight: 550;
  }
}

.top-page-wallpaper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F6F6F6;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.items-boxs-container {
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  text-decoration: none;
  background:#F6F6F6;
  &--title {
    font-size: 22px;
    text-align: center;
    height: 22px;
    width: 918px;
    margin:0 auto;
    margin:26px 11px ;
    color: #0099e8;
    font-weight: 550;
    box-sizing: border-box;
    text-decoration: none;
    & a {
      text-decoration: none;
      color: #0099e8;
    }
  }
  &--body {
    height:420px;
    box-sizing: border-box;
    &__upper {
      height: 330px;
      width: 940px;
      margin:0 auto;
      display:flex;
      box-sizing: border-box;
      & a {
        text-decoration: none;
      }
      &__unit{
        height: 330px;
        width: 213px;
        margin-left:20px;
        background:#FFFFFF;
        box-sizing: border-box;
        &__image {
          height: 220px;
          width: 213px;
          box-sizing: border-box;
          &__upload {
            object-fit: cover;
            height: 220px;
            width: 213px;
            box-sizing: border-box;
          }
        }
        &__body {
          height: 110px;
          width: 213px;
          padding:16px;
          box-sizing: border-box;
          &__title {
            overflow: hidden;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            height: 48px;
            width: 181px;
            font-size: 16px;
            margin:0 auto;
            color: #333;
            font-weight: 400;
            box-sizing: border-box;
          }
          &__price {
            height: 30px;
            width: 181px;
            margin:0 auto;
            box-sizing: border-box;
            padding-bottom: 30px;
            &__upper {
              height: 20px;
              width: 61px;
              margin:0 auto;
              margin:8px 0 0 ;
              font-size: 20px;
              font-weight: 600;
              color: #333;
              box-sizing: border-box;
              display: flex;
              align-items: center;
            }
            &__under {
              height: 10px;
              width: 181px;
              margin:0 auto;
              font-size: 10px;
              color: #333;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.items-boxs-container--title a:hover {
  text-decoration: underline;
  color: lighten(#0099e8,20%);
}

.items-boxs-container--body__under {
  height: 64px;
  width: 935px;
  padding: 20px 0 30px;
  font-size: 14px;
  text-align: right;
  box-sizing: border-box;
  color: #0099E8;
  text-decoration: none;
  & a {
    text-decoration: none;
    color: #0099e8;
  }
}

.items-boxs-container--body__under a:hover {
  text-decoration: underline;
  color: lighten(#0099e8,20%);
}















