.top-app-baner{
  color: white;
  height:260px;
  width: 100vw;
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?78405350");
  &__content{
    height: 260px;
    width: 750px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    &__inner{
      width: 420px;
      align-self: center;
      &__introduction {
        font-size:24px;
      }
      p{
        font-size: 35px;
      }
      ul{
        left:20px;
        padding-top: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
      }
    }
    &__iPhone{
      height: 260px;
    }
  }
}

.fa-twitter-square {
    font-size: 30px;
    display:inline-block;
}

.fa-facebook {
    font-size: 30px;
    display:inline-block;
}

.under-footer--sociallinks {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

#privacy {
  padding-top:38px;
}

.under-footer {
    background: #212121;
    color: #FFFFFF;
    padding: 0 20px 10px 20px;
    list-style: none;
    box-sizing: center;
    text-decoration: none;
    &--lists {
      margin-top: 18px;
      text-align: left;
      margin:0 auto;
      width:950px;
    }
    &--list {
      display: inline-block;
      vertical-align: top;
      opacity: .7;
      padding-right: 6px;
      & li {
        font-size: 12px;
        margin: 14px 0 0;
        color: #FFFFFF;
        & a {
          color: #FFFFFF;
          text-decoration: none;
      }
    }
  }
}

.under-footer--list li a:hover {
        text-decoration: underline;
    }

#title1,#title2,#title3,#title4 {
  font-weight: 500;
  font-size: 16px;
}


.under-footer--copyright {
    display: flex;
    justify-content: center;
    position: relative;
}
.under-footer--copyright__logo{
    width: 124px;
    vertical-align: middle;
    position: absolute;
    left: 125px;
    bottom:7px
}
.under-footer--copyright__text{
    vertical-align: middle;
    text-align: center;
    small {
      font-size:12px;
      }
}

