.single-header{
  height: 128px;
  text-align: center;
  padding-top: 50px;
  font:50px;
}
.mercari-footer{
  text-align: center;
  margin-top: 40px;

}
.single__footer__information{
  display: inline-block;
  margin-left: 18px;
}

.footer-logo{
  margin-top: 40px;
}

.single__footer{
  font-size: 14px;
}
