.sell
  =render 'shared/mercari-header'
  .sell__form
    .sell__form__introduction
      商品は既に売り切れています
    .sell__form__itembuy
      %a.itemsnewlink.itemsnewlink__notice{href:"/users/show"}商品画面へ戻る
  =render 'shared/mercari-footer'

