.sell
  .sell__icon
  .sell__form
    .sell__form__introduction
      商品は既に売り切れています
    .sell__form__itembuy
      %a.itemsnewlink.itemsnewlink__notice{href:"/users/show"}商品画面へ戻る
  .sell__footer
    .sell__footer__link
      %a.itemsnewlink.itemsnewlink__footer{href:""}プライバシーポリシー
      %a.itemsnewlink.itemsnewlink__footer{href:""}メルカリ利用規約
      %a.itemsnewlink.itemsnewlink__footer{href:""}特定商取引に関する表記
    .sell__footer__logo
    © 2019 Mercari
