.wallpaper
  .item
    .item__top-box
      %h2.item__top-box__item-name 商品名商品名商品名商品名商品名商品名商品名商品名商品名商品名商品名商品名
    .item__main-box
      .item__main-box__left
        .item__main-box__left__image-big
          大きな画像
        .item__main-box__left__image-box
          .item__main-box__left__image-box__contents1
            画像1
          .item__main-box__left__image-box__contents2
            画像2
          .item__main-box__left__image-box__contents3
            画像3
          .item__main-box__left__image-box__contents4
            画像4
          .item__main-box__left__image-box__contents5
            画像5
          .item__main-box__left__image-box__contents6
            画像6
          .item__main-box__left__image-box__contents7
            画像7
          .item__main-box__left__image-box__contents8
            画像8
          .item__main-box__left__image-box__contents9
            画像9
          .item__main-box__left__image-box__contents10
            画像10

      .item__main-box__right
        .item__main-box__right__column-left
          %th.item__main-box__right__column-left__exhibitor
            出品者
          %th.item__main-box__right__column-left__category
            カテゴリー
          %th.item__main-box__right__column-left__brand
            ブランド
          %th.item__main-box__right__column-left__state
            商品の状態
          %th.item__main-box__right__column-left__burden
            配送料の負担
          %th.item__main-box__right__column-left__method
            配送の方法
          %th.item__main-box__right__column-left__region
            配送元地域
          %th.item__main-box__right__column-left__indication
            発送日の目安

        .item__main-box__right__column-right
          %td.item__main-box__right__column-right__exhibitor
          %td.item__main-box__right__column-right__category
          %td.item__main-box__right__column-right__brand
          %td.item__main-box__right__column-right__state
          %td.item__main-box__right__column-right__burden
          %td.item__main-box__right__column-right__method
          %td.item__main-box__right__column-right__region
            = link_to "メルカリ", "https://www.mercari.com/jp/"
          %td.item__main-box__right__column-right__indication
            1〜2日で発送

    .item__price-box
    .item__confirmation-box
    .item__text-box
    .item__bottom-box

  .comment
    .comment__top-box
    .comment__form-box

  .nav
    .nav__left-box
    .nav__right-box

  .social-media
    .social-media__box




  .exhibition
    .exhibition__name
    .exhibition__box

  .other-item
    .other-item__top
    .other-item__box

