.profile-cover{
  padding:50px 100px;

  &__notice{
    text-align: right;
    margin-top: 10px;
  }

  &__userinfo{
    margin-top: 30px;
  }

  &__useraddress{
    margin-top: 30px;
  }

  &--need{
    border: solid gray;
    color:white;
    background-color: gray;
  }

  &__input__box{
    width: 100%;
    height: 40px;
    margin-top: 5px;
  }


  &__button__submit{
    display:block;
    width:100%;
    padding-top:10px;
    margin:30px auto;
    padding-bottom:10px;
    background:red;
    color: white;
  }
}
